<div class="container-fluid">
    <div class="block-header">
        <h2>{{title}}</h2>
    </div>

    <!-- Widgets -->
    <div class="row clearfix">
        <div ui-sref="home.user" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-pink hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">face</i>
                </div>
                <div class="content">
                    <div class="text">USER REGISTER</div>
                    <div class="number ">{{dataAdmin.user_register}}</div>
                </div>
            </div>
        </div>
        <div ui-sref="home.kota" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-cyan hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">place</i>
                </div>
                <div class="content">
                    <div class="text">PLACE REGISTER</div>
                    <div class="number ">{{dataAdmin.place_register}}</div>
                </div>
            </div>
        </div>
        <!-- <div ui-sref="home" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-light-green hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">access_time</i>
                </div>
                <div class="content">
                    <div class="text">TIME </div>
                    <div class="number ">s</div>
                </div>
            </div>
        </div>
        <div ui-sref="home" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-orange hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">trending_up</i>
                </div>
                <div class="content">
                    <div class="text">LEADERBOARD</div>
                    <div class="number "></div>
                </div>
            </div>
        </div> -->
    </div>

    <div class="row clearfix">
	    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	        <div class="card">
	            <div class="header">
	                <h2>Jumlah User per Provinsi</h2>
	            </div>
	            <div class="body" >
    	            <div class="row clearfix">
                        <div class="col-md-12" cg-busy="loadingSelecBox">
                            <form id="form_advanced_validation" name="form">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <select type="text" class="form-control" ng-model="selectProvince" name="selectProvince" ng-change="showAnalytic(selectProvince)">
                                            <option value="">Semua Provinsi</option>
                                            <option ng-repeat="provincess in provincesss" value="{{provincess.province}}" >{{provincess.province}}</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row clearfix" cg-busy="tableLoadingBusy">
                        <div class="col-md-12">
        	                <canvas class="chart chart-bar"
        	                    chart-data="data"
        	                    chart-legend="true"
        	                    chart-labels="labels"
        	                    chart-series="series"
        	                    chart-options="options">
        	                </canvas>
                        </div>
                    </div>
	    
	            </div>
	        </div>
	    </div>
	</div> 
</div>

