<div growl></div>
<div class="login-box">
  <div class="logo">
   <!--  <a href="javascript:void(0);" >PETUALANGAN NUSANTARA</b></a> -->
    <small style="font-size: 25px;"><strong>Destinasi Cimahi</strong></small>
  </div>
  <div class="card">
    <div class="body" cg-busy="loading">
      <form id="sign_in" method="POST" >
        <div class="msg">Sign in to start your session</div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">person</i>
          </span>
          <div class="form-line">
            <input ng-model="email" type="text" class="form-control" name="email" placeholder="Email" required autofocus>
          </div>
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">lock</i>
          </span>
          <div class="form-line">
            <input ng-model="password" type="password" class="form-control" name="password" placeholder="Password" required>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8"></div>
          <div class="col-xs-4">
            <button class="btn btn-block bg-pink waves-effect" type="submit" ng-click="login()">SIGN IN</button>
          </div>
        </div>
        <div class="row m-t-15 m-b--20">
          <div class="col-xs-6">
           
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
