<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">
                <h2>Most Searched</h2>
            </div>
            <div class="body">
              
                <div class="col-md-4">
                    <div class="col-md-4">
                        <label>Search : </label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="search" ng-change="tampilSearch()" />
                    </div>
                </div>
                <div class="row clearfix">
	                <div class="box col-md-12"  style="overflow: auto; white-space: wrap;">
		                <table class="table table-striped table-bordered" width="2" at-table at-paginated at-list="tampilFilter" at-config="config" cg-busy="tableLoadingBusy">
		                    <thead></thead>
		                    <tbody>
		                        <tr>
		                            <td class="col-md-1" at-implicit at-title="No"  at-initial-sorting="asc" at-attribute="index"></td>
		                            <td class="col-md-2" at-implicit at-title="Nama" at-attribute="name"></td>
		                            <td class="col-md-3" at-title="Lat Long">{{item.lat}} , {{item.lng}}</td>
		                            <td class="col-md-2" at-implicit at-title="Address" at-attribute="address"></td>
		                            <td class="col-md-2" at-implicit at-title="Deskripsi" at-attribute="description"></td>
		                            <td class="col-md-2" at-title="Photo"><img width="200" ng-src="{{item.photo}}"></td>
		                            <td class="col-md-1" at-title="Dicari">{{item.jumlah}} kali</td>
		                        </tr>
		                    </tbody>
		                </table>
		            </div>
                </div>
	                <at-pagination at-list="tampilFilter" at-config="config"></at-pagination>
            </div>
        </div>
    </div>
</div>