<div class="row clearfix" ng-show="place">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">
                <h2>Data Place</h2>
            </div>
            <div class="body">
              
                <div class="col-md-4">
                    <div class="col-md-4">
                        <label>Search : </label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="search" ng-change="tampilSearch()" />
                    </div>
                </div>
                <div class="col-md-4">
                    <a type="button" class="btn btn-primary" ng-click="showAddPlace()" ><i class="material-icons" title="Add Top Place">add</i> Add Place</a>
                </div>
                <div class="row clearfix">
	                <div class="box col-md-12"  style="overflow: auto; white-space: wrap;">
		                <table class="table table-striped table-bordered" width="2" at-table at-paginated at-list="tampilFilter" at-config="config" cg-busy="tableLoadingBusy">
		                    <thead></thead>
		                    <tbody>
		                        <tr>
		                            <td class="col-md-1" at-implicit at-title="No"  at-initial-sorting="asc" at-attribute="index"></td>
		                            <td class="col-md-2" at-implicit at-title="Nama" at-attribute="name"></td>
		                            <td class="col-md-3" at-title="Lat Long">{{item.lat}} , {{item.lng}}</td>
		                            <td class="col-md-2" at-implicit at-title="Address" at-attribute="address"></td>
		                            <td class="col-md-2" at-implicit at-title="Deskripsi" at-attribute="description"></td>
		                            <td class="col-md-2" at-title="Photo"><img width="200" ng-src="{{item.photo}}"></td>
		                            <td class="col-md-1" at-implicit at-title="Rating" at-attribute="rating"></td>
		                            <td class="col-md-1" at-title="Aksi">
                                        <a type="button" class="btn btn-success" ng-click="addTopPlace(item.id)" ><i class="material-icons" title="Add Top Place">thumb_up</i></a>
                                        <a type="button" class="btn btn-danger" ng-click="deletePlace(item.id)" ><i class="material-icons" title="Delete">delete</i></a>
                                    </td>
		                        </tr>
		                    </tbody>
		                </table>
		            </div>
                </div>
	                <at-pagination at-list="tampilFilter" at-config="config"></at-pagination>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix" ng-show="addPlace">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">
                <h2>Add Place</h2>
            </div>
            <div class="body" >
                <div class="row clearfix">
                    <div class="col-md-12" > 
                        <a type="button" class="btn btn-primary" ng-click="back()" ><i class="material-icons" title="Kembali">arrow_back</i> Kembali</a>
                    </div>
                </div>
                <div class="row clearfix" cg-busy="loadingUpload">
                    <div class="col-md-12">
                        <form id="form_advanced_validation" method="POST" name="form">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" ng-model="name" name="name" min="6" required>
                                    <label class="form-label">Name</label>
                                </div>
                                <div class="help-info">Isikan dengan nama tempat yang ada dicimahi</div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" ng-model="lat" name="lat" required>
                                    <label class="form-label">Latitude</label>
                                </div>
                                <div class="help-info">Masukan latitude contoh : 17.121212</div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" ng-model="lng" name="lng" required>
                                    <label class="form-label">Longitude</label>
                                </div>
                                <div class="help-info">Masukan Longitude contoh : 234.11111</div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" ng-model="address" name="address" required>
                                    <label class="form-label">Address</label>
                                </div>
                                <div class="help-info">Masukan alamat tempat</div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" ng-model="description" name="description" required>
                                    <label class="form-label">Description</label>
                                </div>
                                <div class="help-info">Masukan deskripsi tempat</div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <select type="text" class="form-control" ng-model="place_category_id" name="place_category_id" required>
                                        <option value="">Kategori</option>
                                        <option value="1">UMKM</option>
                                        <option value="2">Kafe</option>
                                        <option value="3">Wisata</option>
                                        <option value="4">Pemerintahan</option>
                                        <option value="5">Rumah Sakit</option>
                                        <option value="6">Pom Bensin</option>
                                        <option value="7">Tempat Ibadah</option>
                                        <option value="8">Sekolah</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB" type="file" class="form-control" name="photo" required>
                                </div>
                                <div class="help-info">Masukan Photo dengan ukuran mak 10MB</div>
                            </div>
                            <button class="btn btn-primary waves-effect" ng-click="submit()" type="submit">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>