<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
  <!-- User Info -->
  <div class="user-info">
    <div class="image">
      <img src="images/user.png" width="48" height="48" alt="User" />
    </div>
    <div class="info-container">
      <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome</div>
      <div class="email">Administrator</div>
      <div class="btn-group user-helper-dropdown">
        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
        <ul class="dropdown-menu pull-right">
          <!-- <li><a ui-sref="gantiPassword" href="javascript:void(0);"><i class="material-icons">lock</i>Ganti Password</a></li> -->
          <li><a ng-click="logout()" href="javascript:void(0);"><i class="material-icons">input</i>Keluar</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- #User Info -->

  <!-- Menu -->
  <div class="menu">
    <ul class="list">
      <li class="header">MAIN NAVIGATION</li>
        <li ng-class="{'active' : $state.current.name == 'home'}">
          <a ui-sref="home">
            <i class="material-icons">home</i>
            <span>Home</span>
          </a>
        </li>
        <li ng-class="{'active' : $state.current.name == 'place'}">
          <a ui-sref="place">
            <i class="material-icons">place</i>
            <span>Place</span>
          </a>
        </li>
        <li ng-class="{'active' : $state.current.name == 'placeNotVerify'}">
          <a ui-sref="placeNotVerify">
            <i class="material-icons">add_location</i>
            <span>Verify Place</span>
          </a>
        </li>
        <li ng-class="{'active' : $state.current.name == 'topPlace'}">
          <a ui-sref="topPlace">
            <i class="material-icons">thumb_up</i>
            <span>Top Place</span>
          </a>
        </li>
        <li ng-class="{'active' : $state.current.name == 'mostViewed'}">
          <a ui-sref="mostViewed">
            <i class="material-icons">remove_red_eye</i>
            <span>Most Viewed</span>
          </a>
        </li>
        <li ng-class="{'active' : $state.current.name == 'mostSearched'}">
          <a ui-sref="mostSearched">
            <i class="material-icons">search</i>
            <span>Most Searched</span>
          </a>
        </li>
    </ul>
  </div>
  <!-- #Menu -->

  <!-- Footer -->
  <div class="legal">
    <div class="copyright">
      &copy; 2017 <a href="javascript:void(0);">Destinasi Cimahi</a>.
    </div>
    <div class="version">
      <b>Version: </b> 1.0.0
    </div>
  </div>
  <!-- #Footer -->
</aside>
<!-- #END# Left Sidebar -->
